<!DOCTYPE html>
<html>
<head>
    <title>Add Book</title>
</head>
<body>
    <h1>Add New Book</h1>
    <form method="post">
        {% csrf_token %}
        <label>Title: <input type="text" name="title" required></label><br>
        <label>Author: 
            <select name="author" required>
                {% for author in authors %}
                <option value="{{ author.id }}">{{ author.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <button type="submit">Add Book</button>
    </form>
</body>
</html>